html {
    font-family: Helvetica, sans-serif;
}

input {
    margin-bottom: 10px;
}

#output {
    display: flex;
    flex-wrap: wrap;
}

.tableDiv {
    width: 300px;
    border: 2px solid #2B2D42;
    margin: 0 20px 20px 0;
}

.tableDiv div:first-of-type {
    background-color: #2B2D42;
    color: white;
    font-weight: bold;
}

.tableDiv div {
    background-color: lightgrey;
    padding: 10px;
    font-size: 14px;
}

.tableDiv div:nth-of-type(even) {
    background-color: white;
}