html {
    font-family: Verdana, sans-serif;
    font-size: 1.2em;
}

header {
    text-align: center;

}

figure {
    margin: 0 0 0 20px;
}

header img {
    height: 200px;
}

aside {
    border: 3px solid #799d9d;
    text-align: center;
    background-image: url("../images/cocktail.gif");
    background-size: 15%;
    background-repeat: repeat-x;
    padding: 20px 10px 10px 10px;
}

p, li{
    font-size: 75%;
}

aside img{
    height: 50px;
}

aside h2 {
    color: #99203f;
    font-size: 100%;
}

aside h1 {
    color: black;
    font-size: 120%;
}

a{
    color: black;
}

aside a:hover{
    background-color: brown;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

section {
}

body {
    width: 95%;
    margin: auto;
}

footer {
    margin: 5px 0 10px 0;
    text-align: center;
    font-size: 50%;
}

#guarantee {
    font-style: italic;
    margin: 30px;
    padding: 20px 20px 20px 60px;
    color: #444444;
    background-color: #a7cece;
    border: 2px dotted white;
    background-image: url("../images/background.gif");
    background-size: 7%;
    background-repeat: no-repeat;
}