/* items */
section {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
}

section div {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 3em;
}

/* specific item styles */

.item-1 {
    background: #b03532;
    display: none;
}
.item-2 {
    background: #33a8a5;
}
.item-3 {
    background: #30997a;
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}
.item-4 {
    background: #6a478f;
}
.item-5 {
    background: #da6f2b;
}
.item-6 {
    background: #3d8bb1;
    display: none;
}
.item-7 {
    background: #e03f3f;
}
.item-8 {
    background: #59a627;
}
.item-9 {
    background: #4464a1;
    grid-row-start: 1;
}

@media screen and (min-width: 760px){
    section {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, auto);
    }

    .item-1 {
        display: block;
    }
    .item-3 {
        grid-row: auto;
        grid-column: auto;
    }
    .item-6 {
        display: block;
    }
    .item-9 {
        grid-row: auto;
    }
}


